
.DS_Store
assets/.DS_Store
assets/minecraft/.DS_Store
assets/minecraft/models/.DS_Store
assets/minecraft/models/item/.DS_Store
assets/minecraft/models/item/trainmodel/.DS_Store
assets/minecraft/models/item/trainmodel/entetsu/.DS_Store
